.create-button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.head-block + .create-button-block {
    margin-top: 30px;
}

.create-button-block div+div {
    margin-top: 20px;
}

.second-variation-bar {
    width: 1400px;
}