<div *ngIf="user.id == 1" class="page-selection">
    <div class="head-block">
        <h2>Выбрать данного поставщика?</h2>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" [routerLink]="['/provider-choise']">
            <h1>Назад</h1>
        </button>
        <button class="second-variation-bar" (click)="choiseProvider(provider.id)">
            <h1>Выбрать</h1> 
        </button>
    </div>
    <div class="frame-form">
        <div class="input-form">
            <div class="form-block">
                <h1>Наименование поставщика:</h1>
            </div>
            <div class="form-block">
                <h1>{{provider.name}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Адрес поставщика:</h1>
            </div>
            <div class="form-block">
                <h1>{{provider.address}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Номер телефона поставщика:</h1>
            </div>
            <div class="form-block">
                <h1>{{provider.phone}}</h1>
            </div>
        </div>
    </div>
</div>