<div *ngIf="user.status == 'manager' || user.status == 'admin'" class="page-selection">
    <div class="head-block">
        <h2>Добавить новую поставку</h2>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" [routerLink]="['/supply-list']">
            <h1>Назад</h1>
        </button>
        <button class="second-variation-bar" (click)="CreateSupply()">
            <h1>Добавить</h1> 
        </button>
    </div>
    <div class="frame-form">
        <div class="input-form">
            <div class="form-block">
                <h1>Способ доставки:</h1>
            </div>
            <div class="form-block">
                <select [(ngModel)]="deliveryMethod" ng-change="setPrice()">
                    <option value="По почте">По почте - 300 рублей</option>
                    <option value="Через курьера">Через курьера - 500 рублей</option>
                    <option value="Забрать в отделении">Забрать в отделении - 0 рублей</option>
                </select>
            </div>
        </div>
    </div>
</div>
