<div class="page-selection">
    <div class="head-block">
        <h2>Подробнее о пользователе</h2>
    </div>
    <div class="controll-button-block">
        <div class="input-form"></div>
        <button class="second-variation-bar" (click)="exitUser()">
            <h1>Выйти</h1> 
        </button>
    </div>
    <div class="frame-form">
        <div class="input-form">
            <div class="form-block">
                <h1>Имя пользователя:</h1>
            </div>
            <div class="form-block">
                <h1>{{user.name}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Логин:</h1>
            </div>
            <div class="form-block">
                <h1>{{user.login}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Статус:</h1>
            </div>
            <div class="form-block">
                <h1>{{user.status}}</h1>
            </div>
        </div>
    </div>
</div>