<div *ngIf="user.id == 1" class="page-selection">
    <div class="head-block">
        <h2>Добавить новый заказ</h2>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" [routerLink]="['/delivery-list']">
            <h1>Назад</h1>
        </button>
        <button class="second-variation-bar" (click)="createDelivery()">
            <h1>Добавить</h1> 
        </button>
    </div>
    <div class="frame-form">
        <div class="input-form">
            <div class="form-block">
                <h1>Добавить заказчика:</h1>
            </div>
            <div class="form-block">
                <button class="second-variation-bar" (click)="providerClick()">
                    <h1>Выбрать</h1> 
                </button>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Заказчик:</h1>
            </div>
            <div class="form-block">
                <h1>{{provider.name}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Добавить товар:</h1>
            </div>
            <div class="form-block">
                <button class="second-variation-bar" (click)="detailClick()">
                    <h1>Выбрать</h1> 
                </button>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Товар:</h1>
            </div>
            <div class="form-block">
                <h1>{{detail.name}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Добавить поставку:</h1>
            </div>
            <div class="form-block">
                <button class="second-variation-bar" (click)="supplyClick()">
                    <h1>Выбрать</h1> 
                </button>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Номер поставки:</h1>
            </div>
            <div class="form-block">
                <h1>{{supplyId}}</h1>
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Количество товара:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="count" class="auth-input" type="number" placeholder="Введите количество">
            </div>
        </div>
    </div>
</div>