<div class="page-selection">
    <div class="auth-img-pos">
        <img class="close-img" src="/assets/images/close.gif" mat-dialog-close>
    </div>
    <div class="auth-head-block">
        <h1>Регистрация</h1>
    </div>
    <div class="auth-inputs-block">
        <input [(ngModel)]="name" class="auth-input" type="text" placeholder="Имя" maxlength="100">
        <input [(ngModel)]="login" class="auth-input" type="text" placeholder="Логин" maxlength="100">
        <input [(ngModel)]="password" class="auth-input" type="password" placeholder="Пароль" maxlength="100">
        <input [(ngModel)]="confirm_password" class="auth-input" type="password" placeholder="Подтвердите пароль" maxlength="100">
        <button class="fisrt-variation-bar" (click)="registrateNewUser()">
            <h1>Зарегистрироваться {{result}}</h1>
        </button>
        <button class="second-variation-bar" (click)="openAuthDialog()">
            <h1>У меня уже есть аккаунт</h1>
        </button>
    </div>
</div>