<div *ngIf="user.id == 1" class="page-selection">
    <div class="head-block">
        <h2>Выберете деталь</h2>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" (click)="routerBack()">
            <h1>Назад</h1>
        </button>
        <div class="object">
        </div>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" (click)="reloadList()">
            <h1>Перезагрузить</h1>
        </button>
        <input [(ngModel)]="search" class="auth-input" type="text" placeholder="Найти по названию">
        <button class="second-variation-bar" (click)="getDetailsByName()">
            <h1>Найти</h1> 
        </button>
    </div>
    <div class="object-location">
        <div class="object">
            <div class="element">
                <p>Id</p>
            </div>
            <div class="element">
                <p>Название</p>
            </div>
            <div class="element">
                <p>Номер</p>
            </div>
            <div class="element">
                <p>Цена</p>
            </div>
            <div class="element">
                <p>Навигация</p>
            </div>
        </div>
        <div class="object-list" *ngFor="let detail of details">
            <div class="object">
                <div class="element">
                    <p>{{detail.id}}</p>
                </div>
                <div class="element">
                    <p>{{detail.name}}</p>
                </div>
                <div class="element">
                    <p>{{detail.articleNumber}}</p>
                </div>
                <div class="element">
                    <p>{{detail.price}}</p>
                </div>
                <div class="element-button">
                    <button class="object-button" [routerLink]="['/detail-choise-info']" (click)="pushDataInService(detail.id)">
                        <h1>Выбрать</h1>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>