<div *ngIf="user.status == 'manager' || user.status == 'admin'" class="page-selection">
    <div class="head-block">
        <h2>Добавить нового поставщика</h2>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" [routerLink]="['/provider-list']">
            <h1>Назад</h1>
        </button>
        <button class="second-variation-bar" (click)="CreateProvider()">
            <h1>Добавить</h1> 
        </button>
    </div>
    <div class="frame-form">
        <div class="input-form">
            <div class="form-block">
                <h1>Наименование поставщика:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="name" class="auth-input" type="text" placeholder="Введите наименование" maxlength="100">
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Адрес поставщика:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="address" class="auth-input" type="text" placeholder="Введите адрес" maxlength="100">
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Телефон поставщика:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="phone" class="auth-input" type="text" placeholder="Введите телефон" maxlength="100">
            </div>
        </div>
    </div>
</div>