.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.centered-container {
    width: 1400px;
    position: relative;
    background: #fff9e5;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.footer-block {
    background: rgb(255, 136, 0);
    display: flex;
    justify-content: center;
    min-width: 1440px;
    box-shadow: 0 0 10px;
}

.footer-block-container {
    height: 80px;
    width: 100px;
}