<div *ngIf="user.status == 'manager' || user.status == 'admin'" class="page-selection">
    <div class="head-block">
        <h2>Редактировать поставщика</h2>
    </div>
    <div class="controll-button-block">
        <button class="fisrt-variation-bar" [routerLink]="['/provider-info']">
            <h1>Назад</h1>
        </button>
        <button class="fisrt-variation-bar" (click)="deleteProvider(provider.id)">
            <h1>Удалить</h1>
        </button>
        <button class="second-variation-bar" (click)="UpdateProvider()">
            <h1>Редактировать</h1> 
        </button>
    </div>
    <div class="frame-form">
        <div class="input-form">
            <div class="form-block">
                <h1>Наименование поставщика:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="provider.name" class="auth-input" type="text" placeholder="Введите наименование" maxlength="100">
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Адрес поставщика:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="provider.address" class="auth-input" type="text" placeholder="Введите адрес" maxlength="100">
            </div>
        </div>
        <div class="input-form">
            <div class="form-block">
                <h1>Телефон поставщика:</h1>
            </div>
            <div class="form-block">
                <input [(ngModel)]="provider.phone" class="auth-input" type="text" placeholder="Введите телефон" maxlength="100">
            </div>
        </div>
    </div>
</div>